# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


# Ignore .ds uploads
.DS_Store


# Ignore .class uploads
*.class
*.class

# Ignore .classpath, .settings, .project
/.classpath
/*.project
/.settings
/.settings/org.eclipse.jdt.core.prefs
